<p>
    WEB PORTAL 
    
    Company: Eleks 
    
    Customer: A security solution provider 
    
    Project description: The project featured a security-as-a-service platform through a cloud-based networking solution. The platform protected the organization’s entire distributed network, including data centers, branch offices, remote users, and IoT devices across all ports and protocols. 
    
    Team size: 20 team members 
    
    Involvement duration: 4 years 
    
    Role: Python and TypeScript Developer 
    
    ￼ 
    
    Responsibilities: 
    
    Updated and improved the API for the front end. 
    
    Implemented new features and services. 
    
    Wrote tests. 
    
    Communicated with the customer. 
    
    Tools and technologies: Python, TypeScript, Django, Angular. 
    
    SKILL-TESTING PORTAL 
    
    Company: Eleks 
    
    Customer: A European software company 
    
    Project description: Our team worked on creating a web portal that provided its users with the possibility to add programming tasks and solutions for other tasks. All the solutions had to be automatically checked in the Docker containers. 
    
    Team size: 4 team members 
    
    Involvement duration: 3 months 
    
    Role: Python and JavaScript Developer 
    
    Responsibilities: 
    
    Created Docker images for testing. 
    
    Created templates for generating the unittest files from the provided test cases. 
    
    Configured the testing process execution using Celery. 
    
    Tools and technologies: Docker, Django, unittest, Celery. 
    
    ONLINE STORE 
    
    Company: Eleks 
    
    Customer: An AI solution provider 
    
    Project description: The task was to create an online shop for selling AI-trained models. 
    
    Team size: 20 team members 
    
    Involvement duration: 3 months 
    
    Role: Python and PHP Developer 
    
    Responsibilities: 
    
    Created the API for the store. 
    
    Implemented new features for the license server. 
    
    Wrote tests. 
    
    Communicated with the customer. 
    
    Tools and technologies: Docker, AIOHTTP, WooCommerce. 
    
    MONITORING SYSTEM 
    
    Company: Synergy Way 
    
    Customer: A security company 
    
    Project description: During this time, I was involved in developing a system to monitor server and camera statuses. 
    
    Team size: 4 team members 
    
    Involvement duration: 1 month 
    
    Role: Full-Stack Developer 
    
    Responsibilities: 
    
    Implemented new features at the front end and back end. 
    
    Created tests. 
    
    Communicated with the customer. 
    
    Tools and technologies: Docker, Flask, React Static. 
    
    CONFERENCE MANAGEMENT TOOL 
    
    Company: Synergy Way 
    
    Customer: An American individual 
    
    Project description: The task was to develop a solution for organizing and managing the conferences. I updated end-to-end tests on Robot Framework and made some front-end changes. 
    
    Team size: 3 team members 
    
    Involvement duration: 2 months 
    
    Role: Full-Stack Developer 
    
    ￼ 
    
    Responsibilities: 
    
    Updated tests and the front-end part. 
    
    Communicated with the customer. 
    
    Tools and technologies: Visual Studio Code, Angular 1.6, Robot Framework. 
    
    FUNDING PLATFORM PARSER 
    
    Company: Synergy Way 
    
    Customer: A Ukrainian software company 
    
    Project description: The project goal was to develop an application for obtaining descriptions of projects at funding platforms and extracting emails for marketing purposes. 
    
    Team size: 20 team members 
    
    Involvement duration: 2 months 
    
    Role: Python Developer 
    
    Responsibilities: 
    
    Created an application for obtaining data in automatic mode and displayed the data in the administrator interface. 
    
    Communicated with the customer. 
    
    Tools and technologies: Visual Studio Code, Django, PostgreSQL, Docker, Selenium. 
    
    WEB APPLICATION 
    
    Company: Synergy Way 
    
    Customer: A European cargo company 
    
    Project description: Our team developed a web application for managing the cargo and the transport flows. 
    
    Team size: 2 team members 
    
    Involvement duration: 4 months 
    
    Role: Front-End Developer 
    
    Responsibilities: 
    
    Implemented the models for managing new entities. 
    
    Communicated with the customer. 
    
    Tools and technologies: React, Redux, Webpack. 
    
    PAYMENT MODULE 
    
    Company: PROBEGIN B.V. 
    
    Customer: A Dutch finance company 
    
    Project description: This was a module for making payments in the banking system. 
    
    Team size: 15 team members 
    
    Involvement duration: 2 months 
    
    Role: PHP Developer 
    
    Responsibilities: 
    
    Wrote and tested the code for the plug-in. 
    
    Communicated with the customer. 
    
    Tools and technologies: PHP. 
    
    E-COMMERCE WEBSITE 
    
    Company: PROBEGIN B.V. 
    
    Customer: A Dutch company 
    
    Project description: The project purpose was to create an e-commerce website for selling the cycling training courses. 
    
    Team size: 2 team members 
    
    Involvement duration: 3 months 
    
    Role: Full-Stack Developer 
    
    Responsibilities: 
    
    Set up and configured WooCommerce. 
    
    Created custom plug-ins. 
    
    Designed a custom theme. 
    
    Tools and technologies: PHP, WooCommerce. 
    
    PLUG-IN SYSTEM 
    
    Company: PROBEGIN B.V. 
    
    Customer: A US-based company 
    
    Project description: Our team developed an online store for plug-ins where users could automatically download and set up packs of plug-ins. 
    
    Team size: 2 team members 
    
    Involvement duration: 4 months 
    
    Role: Full-Stack Developer 
    
    Responsibilities: 
    
    Created a server for the store. 
    
    Wrote the script for ionCube and created packs of plug-ins. 
    
    Developed a plug-in for communication with the store. 
    
    Tools and technologies: PHP, ionCube. 
    
    SOCIAL NETWORK 
    
    Company: AppDragon 
    
    Customer: A US-based company 
    
    Project description: Our team worked on creating a social network with a commercial widget for communication with customers. 
    
    Team size: 10 team members 
    
    Involvement duration: 8 months 
    
    Role: Full-Stack Developer 
    
    Responsibilities: 
    
    Updated the API for the website and mobile clients. 
    
    Implemented the web interface. 
    
    Created a back-end server for the web application. 
    
    Tools and technologies: Tornado, Ruby on Rails, Angular 1.6. 
    
    ONLINE APPLICATION 
    
    Customer: An Australian individual 
    
    Project description: Our team was requested to create an online application for correlating the data and searching for insights. 
    
    Team size: 3 team members 
    
    Involvement duration: 2 months 
    
    Role: Front-End Developer 
    
    Responsibilities: 
    
    Created pages on React using the customer’s design. 
    
    Designed and created documentation for the API. 
    
    Wrote UI tests. 
    
    Tools and technologies: Visual Studio Code, React. 
    
    </p>
